experimen_skripsi1/
experimen_skripsi2/
experimen_skripsi3/
experimen_skripsi4/
different_experimen_skripsi3/
hash_sha512/
hash_sha512_large_files/
large_files/
large_files2/
MD5/
node_modules/
sha256/
shake128/
**/vendor/
encrypted**/
decrypted**/